<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianyu.dao.SeckillMapper">

	<resultMap id="BaseResultMap" type="com.jianyu.entity.Seckill">
		<id column="seckill_id" jdbcType="INTEGER" property="seckillId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		seckill_id,name,number,start_time,end_time,create_time
	</sql>
	
	<parameterMap type="java.util.Map" id="paramMap">
		<parameter property="seckillId" mode="IN" jdbcType="BIGINT" />
		<parameter property="phone" mode="IN" jdbcType="BIGINT" />
		<parameter property="killTime" mode="IN" jdbcType="TIMESTAMP" />
		<parameter property="result" mode="OUT" jdbcType="INTEGER" />
	</parameterMap>

	<update id="reduceNumber">
		update seckill set number=number-1 where seckill_id=#{seckillId}
		and
		start_time <![CDATA[<=]]>#{killTime}
		and end_time>=#{killTime}
		and number >0
	</update>

	<select id="queryById" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from seckill
		where seckill_id =#{seckillId}

	</select>

	<select id="queryAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from seckill
		order by create_time desc
		limit #{offset},#{limit}
	</select>

	<select id="seckillByProcedure" parameterMap="paramMap" statementType="CALLABLE">
		<![CDATA[ 
			call execute_seckill(?,?,?,?)
		]]>
	</select>

</mapper>