<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianyu.dao.SuccessKillMapper">
	<resultMap id="SuccessKillResultMap" type="com.jianyu.entity.SuccessKill">
		<id column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="user_phone" jdbcType="BIGINT" property="userPhone" />
		<result column="state" jdbcType="INTEGER" property="state" />
	</resultMap>

	<resultMap id="SecKillResultMap" type="com.jianyu.entity.Seckill">
		<id column="seckill_id" jdbcType="INTEGER" property="seckillId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	</resultMap>
	<sql id="Seckill_Column_List">
		create_time, user_phone, state
	</sql>

	<insert id="insertSuccessKill">
		insert ignore into
		success_kill(seckill_id,user_phone,state)
		values
		(#{seckillId},#{userPhone},0)
	</insert>

	<select id="queryByIdWithSeckill" resultMap="SuccessKillResultMap">
		select
		<include refid="Seckill_Column_List" />
		from success_kill where 
		seckill_id=#{seckillId} and user_phone=#{userPhone}

	</select>

</mapper>